<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.tailscale.caddy-tailscale</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/fnox</string>
		<string>exec</string>
		<string>-c</string>
		<string>/Users/jamesbombeelu/.config/fnox/config.toml</string>
		<string>--</string>
		<string>/Users/jamesbombeelu/.local/bin/caddy-tailscale</string>
		<string>run</string>
		<string>--config</string>
		<string>/Users/jamesbombeelu/.config/caddy/Caddyfile</string>
		<string>--adapter</string>
		<string>caddyfile</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/jamesbombeelu/.local/share/mise/shims:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/jamesbombeelu/.config/caddy/caddy-tailscale.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/jamesbombeelu/.config/caddy/caddy-tailscale.log</string>
</dict>
</plist>
